/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Font loading */
@font-face {
  font-family: 'Alegreya Sans SC';
  src: url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC);
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  font-family: 'Hammersmith One', freemono;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  /*font: 13.34px serif, monospace, Helvetica, Arial;*/
 font-size: 1em;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  /*margin-bottom: 1em;*/
  padding: 1em;
  background: #444;
}
p {
    margin: 1em 0;
    /*font-family: serif, monospace, Arial;*/
}

/*a         { color: dodgerblue; }*/
a         { color: gray; }
a:hover   { color: black; }
a:visited { color: gray; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
table.posts {
  list-style-type: none;
  border: solid #ccc 1px;
  margin-bottom: 2em;
  width: 100%;
  padding: 0.5em;
}
table.posts a:hover { color: #444; }
table.profile {
  list-style-type: none;
  border: solid #ccc 1px;
  margin-bottom: 2em;
  width: 100%;
  padding: 0.5em;
}
table.link {
  list-style-type: none;
  border: solid #ccc 1px;
  margin-bottom: 2em;
  width: 100%;
  padding: 0.5em;
}

table.posts li {
  line-height: 1.75em;
}

table.posts span { /* テーブルの内部 */
  color: #aaa;
  /*font-family: , freemono, Monaco, "Courier New", monospace;*/
  font-size: 80%;
}
table caption { /* テーブルのタイトル */
  padding: 0.5em;
  background: #444;
  /*font-family: serif, freemono, monospace;*/

  color: white;
}
/*****************************************************************************/
/*
/* Container
/*
/*****************************************************************************/
.container {
    width: 60em;
    /*border-right: solid #ddd 0.1em;*/
    /*border-left: solid #ddd 0.1em;*/
    margin: auto;
    padding: 0em;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 60em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

/* header */
.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h1.title a {
  /*color: dodgerblue;*/
  color: white;
}
.site .header h1.title a:hover {
  color: gray;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

/* meta */
.site .meta {
  color: #aaa;
}

/* footer */
.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;

  clear: both;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/* menu */
.site .menu {
    width: 18em;
    float: left;
    padding-right: 2em;
}

/* right */
.site .right {
    width: 40em;
    float: right;
    color: red;
    margin-bottom: 1em;
}

.site .right iframe {
    width: 40em;
    height: 40em;
    border: 0em;
}

.right .post {
    text-align: left;
}
.right h2 {
    text-align: left;
}
.right .meta {
    text-align: right;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
